body {
  font-family: 'minecraft_font', sans-serif;
  background: url("/media/mine.jpg") center center / cover no-repeat;
}

.main {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  margin: 300px auto;
  width: 300px;
  background-color: #6935f8;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 5px 15px 5px 0px #000;
  color: #ffffff;
}

.main label {
  display: block;
}

.main form {
  padding-left: 10px;
  width: 100%;
}

.main a {
  color: purple;
}

.main a:hover {
  color: red;
}
